{% extends 'base.html.twig' %}

{% block title %}Nouvelle équipe{% endblock %}

{% block body %}
<div class="container form-container">
    <div class="form-card">
        <h2>Créer une équipe</h2>
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
    {{ include('team/form.html.twig') }}
        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Créer</button>
        </div>
        {{ form_end(form) }}
          <div class="mt-4">
            <a href="{{ path('app_Team') }}" class="btn btn-secondary">Retour</a>
        </div>
    </div>
</div>
    
{% endblock %}
