{% extends 'base.html.twig' %}

{% block title %}Edit Mission{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="container form-container">
        <div class="form-card">
            <h2>Modifier l'équipe</h2>
            {{ include('mission/_form.html.twig', {'button_label': 'Update'}) }}
            <div class="mt-4">
                <a href="{{ path('app_mission_index') }}" class="btn btn-secondary">Retour</a>
            </div>
        </div>
    </div>
    {{ include('mission/_delete_form.html.twig') }}
</div>
{% endblock %}
